.header{
   background-color: rgb(0, 230, 192);
   padding: 10px 0;
   color:#fff;
   height: 6vh;
   border-bottom: 3px solid #fff;
   display:flex;
   align-items: center;
   &-wrapper{
      padding: 0 20px;
      display: flex;
      justify-content: space-around;
   }
}